/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/
body{
    font-family: 'Montserrat', sans-serif;
}
.wrapper-pagina{
    margin: 0 200px;
}
img{
    width: 100%;
}
li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
.colore-grigio{
    color: #8a8a8a;
}
.colore-bianco{
    color: white;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.overlay-parent {
    position: relative;
}

.overlay-image {
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}
.float{
    float: left;
}

/*Logo*/
.logo{
    width: 10%;
}

/*Intesatzione*/
.slogan{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    border-radius: 20px;
    height: 850px;
    position: relative;
    margin-bottom: 30px;
}
.testo-slogan{
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 60%;
}

/*Sezioni*/
.contenitore-sezioni{
    margin: 30px 0;
}
.contenitore-sezioni::after{
    content: "";
    display: table;
    clear: both;
}
.sezione-piccola{
    width: 19%;
}
.sezione-grande{
    width: 60%;
    margin: 0 1%;
}
.img-sezione-altezza{
    height: 250px;
    object-fit: cover;
}

/*Footer*/
footer{
    text-align: center;
}
.cuore{
    color: red;
}
