/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/
body{
    font-family: 'Montserrat', sans-serif;
}
.wrapper-pagina{
    margin: 0 300px;
}
img{
    width: 100%;
}
li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.colore-grigio{
    color: #8a8a8a;
}
.colore-bianco{
    color: white;
}
.layover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.float{
    float: left;
}

/*Logo*/
.logo{
    width: 10%;
}

/*Intesatzione*/
.slogan{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    border-radius: 20px;
    height: 700px;
    position: relative;
    margin-bottom: 30px;
}
.testo-slogan{
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 60%;
}

/*Sezioni*/
.contenitore-sezioni{
    margin: 30px 0;
}
.contenitore-sezioni::after{
    content: "";
    display: table;
    clear: both;
}
.sezione-piccola{
    width: 15%;
}
.sezione-grande{
    width: 60%;
}
/*Footer*/
footer{
    text-align: center;
}